.task {
  width: 200px;
  background: var(--secondary-color);
  padding: var(--default-padding) 20px;
  color: var(--primary-color);
  border-radius: var(--default-radius);
  box-shadow: var(--default-shadow);
  cursor: pointer;
  margin: 10px 0;

  div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    padding: 10px 0;

    h3 {
      margin: 0;
      font-size: var(--heading-font-size);
    }

    span {
      font-size: var(--heading-font-size);
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  article {
    font-size: var(--secondary-font-size);
  }
}
