.toast {
  display: flex;
  justify-content: center;
  align-content: top;
  width: 300px;
  padding: 10px 20px;
  left: 0;
  right: 0;
  z-index: 101;
  background: var(--accent-color);
  color: var(--secondary-color);
  border-radius: var(--default-radius);
  text-align: center;

  &.info {
    background: var(--accent-color);
    color: var(--secondary-color);
  }

  &.success {
    background: #154d11;
    color: var(--secondary-color);
  }

  &.error {
    background: #7a1214;
    color: var(--secondary-color);
  }
}
