.add-task-dialog {
    width: 300px;
    background: var(--secondary-color);
    padding: 20px;
    color: var(--primary-color);
    border-radius: var(--default-radius);
    box-shadow: 3px 3px 3px rgba(100, 100, 100, 0.8);

    .dialog-header {
      display: flex;
      align-content: center;
      justify-content: space-between;
      font-size: var(--heading-font-size);
      font-weight: bold;
      border-bottom: 1px solid rgba(200, 200, 200,0.1);
      padding-bottom: 5px;
      margin-bottom: 10px;

      .dialog-close {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .dialog-content {
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin-bottom: 20px;
    }

    .dialog-actions {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;

      button {
        padding: 5px 10px;
        cursor: pointer;
        min-width: 100px;
        background: none;
        border-radius: var(--default-radius);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        margin: 0 5px;

        &.add {
          color: var(--secondary-color);
          background: var(--accent-color);
          border: none;
        }
      }
    }
    //h3 {
    //  font-size: var(--heading-font-size);
    //}
    //
    //p {
    //  font-size: var(--secondary-font-size);
    //}
}
