.modal {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.shadowed {
  background: rgba(100, 100, 100, 0.5);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}

.topped {
  align-items: start;
}
