.action-button {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: var(--accent-color);
  font-size: var(--primary-font-size);
  cursor: pointer;
  color: var(--secondary-color);
  border-radius: 50%;
  border: none;
  outline:none;
  transition: all ease-in 0.1s;

  &::after {
    content: '+';
  }

  &:hover {
    border-radius: var(--default-radius);
    font-size: var(--primary-font-size);

    &::after {
      content: "Add Task";
    }
  }

  &:active, &:focus, &:-moz-focus-inner {
    border: none;
    outline: none;
  }

}
