nav {
  background: var(--secondary-color);
  padding: 20px;
  box-shadow: var(--default-shadow);
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .logo {
    letter-spacing: -0.1px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .logOut {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
