/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #ebebeb;
  --shadow-color: #dbdbdb;
  --primary-color: #1d1d1d;
  --secondary-color: #ffffff;
  --accent-color: #0c6cff;

  --heading-font-size: 16px;
  --primary-font-size: 14px;
  --secondary-font-size: 12px;
  --accent-font-size: 10px;

  --default-padding: 10px;
  --default-radius: 5px;
  --default-shadow: 3px 3px 3px var(--shadow-color);
}

body {
  padding: 0;
  margin: 0;
  background: var(--background-color);
  color: var(--primary-color);
  font-size: var(--primary-font-size);
  font-family: Arial;
}
